export ENV=local
export SCRAPER_PORT=8088
export COMPRESSED_LOG_BUCKET_NAME=tmp-tenhou-log-dev-f2f840ed754beba3
export DB_NAME=postgres
export DB_PORT=65432
export DB_DIALECT=postgres
export DB_HOST=localhost
export DB_USER=postgres
export DB_PASSWORD=secret
export GOOGLE_APPLICATION_CREDENTIALS=./credentials/secret.json
export PROJECT_ID_NUMBER=
export PROJECT_ID=mj-log-dev
