name: Next CI
on:
  pull_request:
    paths:
      - services/web/**
      - docker/web/**
      - .github/workflows/node-ci.yaml
defaults:
  run:
    shell: bash
    working-directory: services/web
jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 24.13.1
      - name: Install packages
        run: yarn install --frozen-lockfile
      - name: Build
        run: yarn build
      - name: Run lint
        run: yarn lint
