name: Scraper CD
on:
  push:
    branches:
      - master
    paths:
      - services/scraper/**
      - pkg/**
      - go.*
      - .github/workflows/scraper-cd.yaml
      - docker/scraper/**
      - '!pkg/parser/**'
  workflow_dispatch:

env:
  IMAGE: asia-northeast1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID_DEV }}/backend/scraper
jobs:
  deploy:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - id: auth
        uses: 'google-github-actions/auth@v3'
        with:
          workload_identity_provider: "projects/${{ secrets.GCP_PROJECT_NUMBER_DEV }}/locations/global/workloadIdentityPools/github-actions-pool/providers/github-actions-provider"
          service_account: "github-actions@${{ secrets.GCP_PROJECT_ID_DEV }}.iam.gserviceaccount.com"
          project_id: ${{ secrets.GCP_PROJECT_ID_DEV }}
      - name: 'Set up Cloud SDK'
        uses: 'google-github-actions/setup-gcloud@v1'
      - name: Create docker authentication
        run: gcloud auth configure-docker asia-northeast1-docker.pkg.dev
      - name: Build Image
        run: docker build -t ${{ env.IMAGE }} . -f docker/scraper/Dockerfile
      - name: Push Image
        run: docker push ${{ env.IMAGE }}
      - name: Deploy App
        run: gcloud run deploy scraper --image ${{ env.IMAGE }} --region asia-northeast1
