name: Scraper CI
on:
  pull_request:
    paths:
      - services/scraper/**
      - pkg/**
      - .github/workflows/scraper-ci.yaml
      - docker/scraper/**
      - go.*
      - '!pkg/parser/**'

jobs:
  services:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.6'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        continue-on-error: true
      - name: Format
        run: go fmt ./...
      - name: Test
        run: go test ./...
      - name: go lint
        run: go vet ./...
      - name: Build
        run: go build services/scraper/main.go
